<div class="row">
  <div class="col-xl-6 col-lg-7 col-md-12">
    <div class="card">
      <div class="card-header"><strong>{{ this.translate.data["Selectdevicefordetails"] }}</strong></div>
      <div class="card-body">
        <app-rd-table #table [options]="options" [fields]="fields" (recordSelected)="showDetials($event)">
        </app-rd-table>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-7 col-md-12">
    <div class=row>
      <div class="col-xl-12 col-lg-12 col-md-12">
        <form [formGroup]="detialsForm" (ngSubmit)="updateDetails()">
          <div class="card">
            <div class="card-header"><strong>{{ this.translate.data["Details"] }}</strong></div>
            <div class="card-body" *ngIf="recordSelected">
              <div class="form-group">
                <label for="company">{{ this.translate.data["Name"] }} </label>
                <input class="form-control" id="name" placeholder="Enter name" type="text" [(ngModel)]="record['name']"
                  [ngClass]="{ 'is-invalid': !vh.isValid(detialsForm, 'name') }" required formControlName="name">
                <div class="form-text invalid-feedback" *ngIf="!vh.isValid(detialsForm, 'name')">
                  {{ vh.getMsg(detialsForm,'name') }}
                </div>
              </div>
              <div class="form-group">
                <label for="vat">{{ this.translate.data["TankCapacity(m3)"] }}</label>
                <input class="form-control" id="tank_capacity" placeholder="8" type="number"
                  [(ngModel)]="record['tank_capacity']"
                  [ngClass]="{ 'is-invalid': !vh.isValid(detialsForm, 'tank_capacity') }" required
                  formControlName="tank_capacity">
                <div class="form-text invalid-feedback" *ngIf="!vh.isValid(detialsForm, 'tank_capacity')">
                  {{ vh.getMsg(detialsForm,'tank_capacity') }}
                </div>
              </div>
              <div class="form-group">
                <label for="street">{{ this.translate.data["TankHieght(cm)"] }}</label>
                <input class="form-control" id="tank_height" placeholder="150" type="number"
                  [(ngModel)]="record['tank_height']"
                  [ngClass]="{ 'is-invalid': !vh.isValid(detialsForm, 'tank_height') }" required
                  formControlName="tank_height">
                <div class="form-text invalid-feedback" *ngIf="!vh.isValid(detialsForm, 'tank_height')">
                  {{ vh.getMsg(detialsForm,'tank_height') }}
                </div>
              </div>
              <div class="form-group">
                <label for="street">{{ this.translate.data["Notify(EmailTo)"] }}</label>
                <!-- full multiple email controller -->
                <input class="form-control" id="email_to_input" placeholder="Emails with comma seprated" type="text"
                  [(ngModel)]="email_to_input"  (focusout)="multipleEmailInput('email_to_input', 1, emails)" formControlName="email_to_input">

                <input class="form-control" id="email_to" placeholder="" type="text" 
                  [(ngModel)]="record['email_to']"
                  [ngClass]="{ 'is-invalid': !vh.isValid(detialsForm, 'email_to') }" required hidden
                  formControlName="email_to">

                <div class="multiple_emails-ul form-control">
                  <span class="multiple_emails-email" *ngFor="let email of emails">
                    <a  [routerLink]="" (click)="removeEmailItem(email, 1, emails)" class="multiple_emails-close" title="Remove">
                      <span class="fa fa-remove"></span>
                    </a>
                    <span class="email_name" data-email="{{email}}">
                      {{email}}
                    </span>
                  </span>
                </div>
                <!-- end of full multiple email controller-->
                <div class="form-text invalid-feedback" *ngIf="!vh.isValid(detialsForm, 'email_to')">
                  {{ vh.getMsg(detialsForm,'email_to') }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-10"><label for="city">Access Token</label>
                  <input class="form-control form-control-custom" id="access_token" placeholder="" type="text" readonly
                    value="here is some text" (click)="copyToClipboard('access_token')"
                    [value]="record['access_token']">
                </div>
                <div class="form-group col-sm-2">
                  <label for="postal-code">{{ this.translate.data["Generate"] }}</label>
                  <button class="form-control btn btn-sm btn-warning" id="access_token_generate" type="button"
                    (click)="generateAccessToken()">
                    <i class="cui-brush icons font-2"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!detialsForm.valid">
                <i class="fa fa-dot-circle-o"></i> {{ this.translate.data["Submit"] }} 
              </button>
              <button class="btn btn-sm btn-danger ml-3" type="reset" (click)="resetDetails()">
                <i class="fa fa-ban"></i> {{ this.translate.data["Reset"] }}  
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header"><strong>{{ this.translate.data["ShareDeviceDashboard"] }}</strong></div>
          <div class="card-body" *ngIf="recordSelected">
            <div class="form-group">
              <label for="company"></label>
                <!-- full multiple email controller -->
                <input class="form-control" id="recordShared_string_input" placeholder="Emails with comma seprated" type="text"
                  [(ngModel)]="recordShared_emails_input" 
                  (focusout)="multipleEmailInput('recordShared_string_input', 2, recordShared_emails)">

                  <input class="form-control" id="shared" placeholder="Enter ids comma seprated vallues" 
                  type="text" [(ngModel)]="recordShared_string" hidden>

                <div class="multiple_emails-ul form-control">
                  <span class="multiple_emails-email" *ngFor="let email of recordShared_emails">
                    <a  [routerLink]="" (click)="removeEmailItem(email, 2, recordShared_emails)" class="multiple_emails-close" title="Remove">
                      <span class="fa fa-remove"></span>
                    </a>
                    <span class="email_name" data-email="{{email}}">
                      {{email}}
                    </span>
                  </span>
                </div>
                <!-- end of full multiple email controller-->
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="button" (click)="updateShared()">
              <i class="fa fa-dot-circle-o"></i> {{ this.translate.data["Submit"] }} 
            </button>
            <button class="btn btn-sm btn-danger ml-3" type="reset" (click)="resetShared()">
              <i class="fa fa-ban"></i> {{ this.translate.data["Reset"] }}  
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>