<app-header [navbarBrandRouterLink]="['/login']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, alt: 'Mansoob Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo_small.png', width: 30, height: 30, alt: 'Mansoob Logo'}"
  [sidebarToggler]="isAdmin?'lg':false" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/device']">Devices</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/notification']">Settings</a>
    </li>
    <li class="nav-item px-3">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch" [(ngModel)]="themeSwitcherIsChecked"
          (change)="switchTheme()">
        <label class="custom-control-label" for="darkSwitch"></label>
      </div>
    </li>
 
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none mr-2">{{user.firstName}}</li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <ngx-avatar size="35" src="http://yousefcave.com/uploads/avatars/{{user.id}}-avatar.png" name="{{user.name}}"></ngx-avatar>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>You are {{user.role}}</strong></div>
       <a class="dropdown-item" href="#" [routerLink]="['/profile']"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
      
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="false" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)" [class.d-lg-none]="isAdmin === false">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu -->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="ml-5 text-primary">{{ timeNow }}</div>
        </div>
      </li>
    </cui-breadcrumb>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

  <app-aside [fixed]="false" [display]="false" [ngClass]="'test'">
    <div *ngFor="let group of notifications">
      <div class="list-group-item list-group-item-accent-secondary bg-light 
      text-center font-weight-bold text-muted text-uppercase small">{{group.title}}</div>
      <div *ngFor="let noti of group.data" class="list-group-item list-group-item-accent-{{ noti.urgency}}">
        <div class="avatar float-right"></div>
        <div>{{ noti.subject }} <strong>{{ noti.message }}</strong></div>
        <small class="text-muted mr-3">
          <i class="icon-calendar"></i>&nbsp; {{ noti.day }}
        </small>
        <small class="text-muted">
          <i class="icon-info">
          </i>&nbsp; {{ noti.device }}
        </small>
      </div>
    </div>
    <div *ngIf="notifications.length == 0">
      <div class="list-group-item text-center font-weight-bold text-muted text-uppercase small">No SUCH Notifications
      </div>
    </div>
  </app-aside>

</div>
<app-footer>
  <span><a href="">Mansoob v2.0</a> &copy; 2020.</span>
  <span class="ml-auto">Developed by <a href="http://yousefcave.com">Yousef AlSuwaidan</a></span>
</app-footer>