<div class="form-group row">
    <!-- selection button-->
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-prepend">
                <button class="btn btn-primary" type="button" (click)="fileInput.click()">
                    <i class="fa fa-upload"></i> {{ this.translate.data["ChooseFile"] }}
                    <input type="file" style="display:none;" name="file" #fileInput
                        (change)="onChange(fileInput.files[0])" class="form-control">
                </button>
            </span>
            <span class="form-control">
                {{ fileName }}
            </span>
        </div>
    </div>
    <!-- error area-->

    <alert type="success" class="mt-3 ml-3" *ngIf="infoMessage && !isError">
        <div role="alert" class="alert alert-success">
            <strong>{{ this.translate.data["Success"] }}!</strong> {{ infoMessage }}
        </div>
    </alert>

    <alert type="danger" class="mt-3 ml-3" *ngIf="isError">
        <div role="alert" class="alert alert-danger">
            <strong>{{ this.translate.data["Error"] }}!</strong> {{ infoMessage }}
        </div>
    </alert>
    <!-- progress bar-->
    <div class="col-12 mt-2" *ngIf="!infoMessage">
        <div class="input-group">
            <progress class="progress is-primary" [attr.value]="progress" max="100"></progress>
        </div>
    </div>
    <!-- upload buton -->
    <div class="col-12 mt-2">
        <div class="input-group">
            <button class="btn btn-primary" (click)="onUpload()" [attr.disabled]="isUploading ? '' : null">
                {{ this.translate.data["Upload"] }}
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <figure class="input-group mr-2">
            <img class="avatar-preview" [src]="imageUrl" />
        </figure>
    </div>
</div>