/*$primary: #0be3df;
$shadow: rgba(11,227,223,.1);
$red: red;

tbody tr:nth-of-type(odd){
    background-color: $shadow
}

.ngx-pagination .current{
    background: $primary;
    border: $primary;
}

.ngx-pagination li.current{
    border: $primary;
}

.modal-open .modal{
    z-index: 2050;
}

.alert-modal .modal-title {
    color: $red;
  }*/

table > tbody > tr:hover {
      color: black;
  }