<div class="app flex-row align-items-center"   style="background-color: #2f353a;" >
  <div class="container">
    <div class="row justify-content-center" >
      <code class="col-md-12">
        <h2>{{ this.translate.data["Awww404"] }}</h2>
        <div><strong style="font-size: 5rem;" class="display-2">{{ this.translate.data["404Error"] }}</strong>
          <br>
          {{ this.translate.data["404Msg"] }}
        </div>
      </code>
    </div>
      <div class="row justify-content-center">
      <div class="col-sm-4 col-md-2 pt-4 mt-4">
        <button class="btn btn-block btn-outline-light" type="button" [routerLink]="['/']">
          {{ this.translate.data["Home"] }}
        </button>
      </div>
    </div>
  </div>
</div>