<div id="dashboard" class="animated fadeIn">
    <div class="row">
        <!-- UPDATE STATUS -->
        <!--     <div class="col-sm-12 col-lg-12">
            <div class="brand-card">
                <div class="brand-card-body ng-danger">
                    <div  class="">
                        <strong class="text-uppercase">Last Updated: </strong>{{formatDate(time,'LLLL')}}
                    </div>
                    <div class="chart-wrapper">
                        <div class="btn-group float-left" dropdown>
                            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                                <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left bg" *dropdownMenu>
                                <div class="dropdown-header text-center"><strong>Update Interval</strong></div>
                                <a class="dropdown-item" href="#">5 Minutes</a>
                                <a class="dropdown-item" href="#">10 Minutes</a>
                                <a class="dropdown-item" href="#">20 Minutes</a>
                                <a class="dropdown-item" href="#">30 Minutes</a>
                                <a class="dropdown-item" href="#">1 Hour</a>
                                <a class="dropdown-item" href="#">Manually</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <div class="row">
        <!-- level card -->
        <div class="col-sm-6 col-lg-5">
            <div class="brand-card">
                <div class="brand-card-header {{severity_class}}">
                    <i class="card-header-custom fa {{severity_simple}}"></i>
                    <div class="chart-wrapper">
                        <button class="btn btn-transparent float-right" type="button" (click)="genPDF('dashboard')"><i
                                class="icon-cloud-download"></i></button>
                    </div>
                </div>
                <div class="brand-card-body">
                    <div>
                        <div class="text-value">{{currentLevel}}</div>
                        <div class="text-uppercase text-muted small">Current Status</div>
                    </div>
                    <div>
                        <div class="text-value">{{currentLevel_percentage}}</div>
                        <div class="text-uppercase text-muted small">Current Status %</div>
                    </div>
                    <div>
                        <div class="text-value">{{currentCapacity}}</div>
                        <div class="text-uppercase text-muted small">m3</div>
                    </div>
                </div>
            </div>
        </div>
  
         
         <div class="col-sm-6 col-lg-4">
            <div class="brand-card">
                <div class="brand-card-header bg-primary">
                    <i class="card-header-custom fa fa-tint"></i>
                </div>
                <!-- Consumption card -->
                <div class="brand-card-body">
                    <div>
                        <div class="text-value">{{getRoundedNumber(dConsLst[4],tankHeight)}}%</div>
                        <div class="text-uppercase text-muted small">Today Consumption</div>
                    </div>
                    <!-- LEAKE DETECTION CARD -->
                    <div>
                        <div class="text-value"><i class="card-header-custom fa fa-alert"></i></div>
                        <div class="text-uppercase text-muted small">Leake detection</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
    <!-- Wate level chart-->
    <div id="waterLevelChart" class="card">
        <div class="card-header">
            <div class="row text-center">
                <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Today First Quarter</div><strong>{{dConsLst[0]}}
                        ({{dConsPercLst[0]}})%</strong>
                    <div class="progress progress-xs mt-2">
                        <div id="q1ProgressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                            class="progress-bar bg-success" role="progressbar" style="width: 40%"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Today Second Quarter</div><strong>{{dConsLst[1]}}
                        ({{dConsPercLst[1]}})%</strong>
                    <div class="progress progress-xs mt-2">
                        <div id="q2ProgressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                            class="progress-bar bg-info" role="progressbar" style="width: 20%"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Today Third Quarter</div><strong>{{dConsLst[2]}}
                        ({{dConsPercLst[2]}})%</strong>
                    <div class="progress progress-xs mt-2">
                        <div id="q3ProgressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                            class="progress-bar bg-warning" role="progressbar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Today Fourth Quarter</div><strong>{{dConsLst[3]}}
                        ({{dConsPercLst[3]}})%</strong>
                    <div class="progress progress-xs mt-2">
                        <div id="q4ProgressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                            class="progress-bar bg-danger" role="progressbar" style="width: 80%"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Today Consumption</div><strong>{{dConsLst[4]}}
                        ({{getRoundedNumber(dConsPercLst[4]/100,tankCapacity)}})m3</strong>
                    <div class="progress progress-xs mt-2">
                        <div id="q5ProgressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                            class="progress-bar" role="progressbar" style="width: 40%"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--  WATER LEVEL LINE CHARTS-->
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Water Level</h4>
                    <div class="small text-muted">{{formatDate(today,'dddd Do MMMM, YYYY')}}</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <button type="button" class="btn btn-primary float-right"
                        (click)="genPDF('waterLevelChart')"><i class="icon-cloud-download"></i></button>
                    <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                        <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" (click)="getData(10)"
                            btnRadio="6" id="option1">6 hrs</label>
                        <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" (click)="getData(280)"
                            btnRadio="24" id="option2">24 hrs</label>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="readingChartDataset" [labels]="readingChartLabels"
                    [options]="readingChartOptions" [colors]="readingChartDatasetColors" [chartType]="readingChartType"
                    [legend]="readingChartLegend"></canvas>
            </div>
        </div>

    </div>

    <!-- Consumption  chart-->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Consumption</h4>
                    <div class="small text-muted">{{consChartLabels[0]}} - {{consChartLabels[consChartLabels.length-1]}}
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <button type="button" class="btn btn-primary float-right"><i
                            class="icon-cloud-download"></i></button>
                    <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">

                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="consChartDataset" [labels]="consChartLabels"
                    [options]="consChartOptions" [chartType]="consChartType" [legend]="consChartLegend"></canvas>
            </div>
        </div>

    </div>


</div>