<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="float-lg-left">
                            <ngx-avatar size="100" src="http://yousefcave.com/uploads/avatars/{{user.id}}-avatar.png"
                                name="{{user.name}}">
                            </ngx-avatar>
                            <button type="button" class=" btn btn-transparent fa fa-camera overlap"
                                (click)="updateAvatarModal.show()">
                            </button>
                        </div>

                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-6">
                        <div class="float-left m-3">
                            <h4 class="m-t-0 m-b-0">{{ user.name }}</h4>
                            <p>{{ this.translate.data["LoginId"] }}: <strong>{{ user.email }}</strong></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <form [formGroup]="profileForm" (ngSubmit)="updateDetails()">
                    <div class="card-body" id="about">
                        <small class="text-muted">{{ this.translate.data["FirstName"] }}: </small>
                        <p *ngIf="mode!='edit'">{{ user.firstName }}</p>
                        <input *ngIf="mode=='edit'" class="form-control" id="firstName" placeholder="Enter first name"
                            type="text" [(ngModel)]="user.firstName"
                            [ngClass]="{ 'is-invalid': !vh.isValid(profileForm, 'firstName') }" required formControlName="firstName">
                            <div class="form-text invalid-feedback" *ngIf="!vh.isValid(profileForm, 'firstName')">
                              {{ vh.getMsg(profileForm,'firstName') }}
                            </div>
                        <hr>
                        <small class="text-muted">{{ this.translate.data["LastName"] }}: </small>
                        <p *ngIf="mode!='edit'">{{ user.lastName }}</p>
                        <input *ngIf="mode=='edit'" class="form-control" id="lastName" placeholder="Enter last name"
                            type="text" [(ngModel)]="user.lastName"
                            [ngClass]="{ 'is-invalid': !vh.isValid(profileForm, 'lastName') }" required formControlName="lastName">
                            <div class="form-text invalid-feedback" *ngIf="!vh.isValid(profileForm, 'lastName')">
                                {{ vh.getMsg(profileForm,'lastName') }}
                            </div>
                        <hr>
                        <small class="text-muted">{{ this.translate.data["Email"] }}: </small>
                        <p>{{ user.email }}</p>
                        <hr>
                        <small class="text-muted">{{ this.translate.data["Role"] }}: </small>
                        <p class="m-b-0">{{ user.role }}</p>
                        <hr>
                        <small class="text-muted">Id: </small>
                        <p class="m-b-0">{{user.id }}</p>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="mode!='edit'" class="btn btn-sm btn-primary" type="button" (click)="mode='edit'">
                            <i class="fa fa-edit"></i> {{ this.translate.data["Edit"] }}
                        </button>
                        <button *ngIf="mode=='edit'" class="btn btn-sm btn-primary" type="submit"
                            [disabled]="!profileForm.valid">
                            <i class="fa fa-dot-circle-o"></i> {{ this.translate.data["Submit"] }}
                        </button>
                        <button *ngIf="mode=='edit'" class="btn btn-sm btn-danger ml-3" type="reset"
                            (click)="resetDetails()">
                            <i class="fa fa-ban"></i> {{ this.translate.data["Cancel"] }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-12">
            <div *ngFor="let group of notifications">
                <div class="list-group-item list-group-item-accent-secondary bg-light 
                text-center font-weight-bold text-muted text-uppercase small">{{group.title}}</div>
                <div *ngFor="let noti of group.data" class="list-group-item list-group-item-accent-{{ noti.urgency}}">
                    <div class="avatar float-right"></div>
                    <div>{{ noti.subject }} <strong>{{ noti.message }}</strong></div>
                    <small class="text-muted mr-3">
                        <i class="icon-calendar"></i>&nbsp; {{ noti.day }}
                    </small>
                    <small class="text-muted">
                        <i class="icon-info">
                        </i>&nbsp; {{ noti.device }}
                    </small>
                </div>
            </div>
            <div *ngIf="notifications.length == 0">
                <div class="list-group-item text-center font-weight-bold text-muted text-uppercase small">
                    {{ this.translate.data["NoSUCHNotifications"] }}</div>
            </div>

        </div>
    </div>

</div>


<!-- update Avatar modal -->
<div bsModal #updateAvatarModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-avatar-update></app-avatar-update>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="updateAvatarModal.hide()">{{ this.translate.data["Cancel"] }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->