<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="float-lg-left">
                            <ngx-avatar size="100" src="http://yousefcave.com/uploads/avatars/{user.id}-avatar.png" name="{{user.name}}">
                            </ngx-avatar>
                            <button type="button" class=" btn btn-transparent fa fa-camera overlap"
                                (click)="updateAvatarModal.show()">
                            </button>
                        </div>

                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-6">
                        <div class="float-left m-3">
                            <h4 class="m-t-0 m-b-0">{{ user.name }}</h4>
                            <p>Login Id: <strong>{{ user.email }}</strong></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body" id="about">
                    <small class="text-muted">First Name: </small>
                    <p>{{ user.firstName }}</p>
                    <hr>
                    <small class="text-muted">Last Name: </small>
                    <p>{{ user.lastName }}</p>
                    <hr>
                    <small class="text-muted">Email address: </small>
                    <p>{{ user.email }}</p>
                    <hr>
                    <small class="text-muted">Role: </small>
                    <p class="m-b-0">{{ user.role }}</p>
                    <hr>
                    <small class="text-muted">Id: </small>
                    <p class="m-b-0">{{user.id }}</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-12">
            <div *ngFor="let group of notifications">
                <div class="list-group-item list-group-item-accent-secondary bg-light 
                text-center font-weight-bold text-muted text-uppercase small">{{group.title}}</div>
                <div *ngFor="let noti of group.data" class="list-group-item list-group-item-accent-{{ noti.urgency}}">
                    <div class="avatar float-right"></div>
                    <div>{{ noti.subject }} <strong>{{ noti.message }}</strong></div>
                    <small class="text-muted mr-3">
                        <i class="icon-calendar"></i>&nbsp; {{ noti.day }}
                    </small>
                    <small class="text-muted">
                        <i class="icon-info">
                        </i>&nbsp; {{ noti.device }}
                    </small>
                </div>
            </div>
            <div *ngIf="notifications.length == 0">
                <div class="list-group-item text-center font-weight-bold text-muted text-uppercase small">No SUCH
                    Notifications</div>
            </div>

        </div>
    </div>

</div>


<!-- update Avatar modal -->
<div bsModal #updateAvatarModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-avatar-update></app-avatar-update>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="updateAvatarModal.hide()">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->