// Here you can add other styles
.app-header{
    background-color: $gray-800;
    border-bottom: 1px solid $black;
    color: $white;
}

.breadcrumb{
    background-color: $gray-800;
    border: 1px solid $black;
    color: $white;
}

.app-footer{
    background-color: $gray-800;
    border: 1px solid $black;
    color: $white;
}