// Here you can add other styles
.list-group-item {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.list-group-item:first-child{
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}


.header-ml-auto-custom {
  margin-left: auto;
  margin-right: 0;
}

*[dir=rtl] .header-ml-auto-custom {
  margin-right: auto;
  margin-left: 0;
}

*[dir=rtl] .custom-singup-card{
  border-right: 0 !important;
  border-left: 1px !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

*[dir=rtl] .custom-login-card{
  border-left: 0 !important;
  border-right: 1px !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
